@import 'vars';
@import 'reset';
@import 'global';

/* header */
.header {
	position: relative;
	min-height: 100vh;
}

.nav {
	padding: 55px 0;
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
	width: 270px;
	height: 55px;
}

.menu {
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item{
		position: relative;

		&::after {
			position: absolute;
			content: '';
			height: 2px;
			width: 0;
			background-color: $primary-color;
			border-radius: 2px;
			left: 50%;
			bottom: -5px;
			transition: $trans;
			z-index: 10;
		}
		&:hover {
			color: $primary-color;
			&::after {
				width: 100%;
				left: 0;
			}
		}

		& + & {
			margin-left: 35px;
		}
	}

	&__link {
		display: block;
		padding: 0 5px;
		transition: $trans;
	}
}

.phone {
	display: flex;
	align-items: center;

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__number {
		margin-left: 10px;
		transition: $trans;

		&:hover {
			color: $primary-color;
		}
	}
}

.heading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		img {
			object-fit: cover;
			width: 100vw;
			height: 100vh;
		}
	}

	&__wrapper {
		max-width: 1200px;
		padding: 0px 15px;
		margin: 0 auto;
	}

	&__text {
		font-size: 24px;
		line-height: 32px;
		font-weight: 500;
	}

	&__title {
		margin-top: 24px;

		font-size: 64px;
		line-height: 88px;
		font-weight: 700;
	}

	&__footer {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn {
		display: inline-block;
		padding: 38px 64px;

		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		color: #fff;

		background-color: $secondary-color;
		border-radius: 4px;
		cursor: pointer;
		transition: $trans;

		&:hover {
			background-color: $primary-color;
		}
	}

	&__social {
		display: flex;

		&-item + &-item {
			margin-left: 25px;
		}

		&-link {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 48px;
			height: 48px;

			font-weight: 600;
			border-radius: 50%;
			border: 1px solid #fff;

			transition: $trans;

			&:hover {
				background-color: $primary-color;
				border-color: transparent;
			}
		}
	}
}

.degustation {
	padding: 80px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__list {
		max-width: 470px;
		width: 100%;

		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__item {
		position: relative;
		color: #000;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			bottom: -20px;
			left: 0;
			background-color: #e7e7e7;
		}
	}

	&__time {
		font-size: 24px;
		line-height: 32px;
		font-weight: 600;
	}

	&__programm {
		margin-top: 10px;

		display: flex;
		gap: 10px;

		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}

	&__programm-decor {
		width: 40px;
		background-image: url(../images/sprite.svg#decor-dots);
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__img {
		max-width: 670px;
		object-fit: contain;
	}
}

.feedback {
	padding: 220px 0 170px;
	background-color: $secondary-color;
	text-align: center;

	.container {
		position: relative;
	}

	&__content {
		position: relative;
		max-width: 780px;
		width: 100%;
		padding: 90px 195px 50px;
		margin: 0 auto;
		font-weight: 600;
		line-height: 40px;
		color: $primary-color;

		&::before {
			position: absolute;
			content: '';
			width: 83px;
			height: 58px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(../images/sprite.svg#k);
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__title {
		font-size: 36px;
	}

	&__text {
		margin-top: 20px;
		font-weight: 400;
		color: #fff;
	}

	&__author {
		text-transform: uppercase;
		margin-top: 40px;
		font-size: 24px;
		letter-spacing: 7px;
	}

	.swiper {
		&-btn {
			position: absolute;
			width: 70px;
			height: 70px;
			border-radius: 4px;
			border: 1px solid transparent;
			background-image: url(../images/sprite.svg#arrow);
			background-repeat: no-repeat;
			background-position: center;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			transition: $trans;
			z-index: 10;

			&:hover {
				border-color: $primary-color;
			}

			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
				top: 40%;
				transform: rotate(180deg);
			}
		}
	}
}

.footer {
	padding: 40px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}

	&__logo {
		display: block;
		max-width: 270px;
	}

	.heading__social-link {
		color: #000;
		border-color: #000;

		&:hover {
			color: $secondary-color;
			border-color: transparent;
		}
	}
}

/* media requests */
@import 'media';
